@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-webkit-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

body {
  background: #fff;
  font-family: "Noto+Sans+KR", sans-serif;
  font-size: 12px;
  color: #2d2d2d;
  line-height: 100%;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  letter-spacing: -0px;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  letter-spacing: 0px;
}
div,
p,
ul,
li,
table,
th,
td,
textarea,
input,
span,
form,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dl,
dd,
em,
sup {
  padding: 0px;
  margin: 0px;
}
ul,
ol,
dl,
dd,
dt,
li {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  line-height: 100%;
  font-size: 12px;
  color: #5b5b5b;
  letter-spacing: 0px;
}
form,
fieldset,
p {
  margin: 0;
  padding: 0;
  border: 0;
}
img {
  border: 0;
  vertical-align: middle;
  outline: none;
}

a,
a:link,
a:visited,
a:active {
  color: #2d2d2d;
  letter-spacing: normal;
  text-decoration: none;
  letter-spacing: -0.8px;
}
a:hover {
  color: #06a66c;
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header {
  width: 20%;
  height: 60px;
  float: left;
}

#logo {
  width: 50px;
  text-align: center;
  margin: 0 auto;
  line-height: 60px;
}

nav {
  width: 15%;
  height: 50px;
  float: right;
}

nav li {
  width: 48%;
  height: 60px;
  float: left;
  margin-left: 2%;
}

nav li:nth-child(1) {
  margin-left: 0;
}

nav li h2 {
  text-align: center;
  line-height: 60px;
  float: right;
}
nav li img {
  width: 25px;
  height: 25px;
}
nav li span {
  float: right;
  width: 70px;
  height: 60px;
  line-height: 60px;
  margin-right: -5px;
  text-align: center;
}

#menu_box {
  width: 400px;
  height: 100vh;
  position: absolute;
  right: -400px;
  background-color: #efefef;
}

#box_wrap {
  width: 340px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#box_wrap div:nth-child(1) {
  margin-top: 100px;
}

#box_wrap h5 {
  line-height: 50px;
  font-size: 15px;
}
#box_wrap h5:hover {
  transform: scale(110%);
}

#copy {
  width: 100%;
  position: absolute;
  bottom: 200px;
}

/* map */

#header_wrap_map {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #fff;
  border-bottom: solid 2px #71d4b0;
  z-index: 9999;
}

#logo h1 a {
  color: #71d4b0;
}

#side_menu {
  width: 70px;
  height: 1200px;
  background-color: #fff;
  float: right;
  z-index: 8888;
  margin-top: 50px;
  position: relative;
  border-left: solid 2px #71d4b0;
}

#side_menu li {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  line-height: 70px;
}

#side_menu li:nth-child(1) {
  margin-top: 10px;
}

#side_menu img {
  width: 35px;
}

.icon-contacts {
  background: url("https://img.icons8.com/material-outlined/48/000000/user-male-circle.png")
    50% 50% no-repeat;
  background-size: 50%;
}

.icon-map {
  background: url("https://img.icons8.com/material-outlined/48/000000/marker.png")
    50% 50% no-repeat;
  background-size: 50%;
}

.icon-compare {
  background: url("https://img.icons8.com/material-outlined/48/000000/point-objects.png")
    50% 50% no-repeat;
  background-size: 50%;
}

.icon-setting {
  background: url("https://img.icons8.com/material-outlined/48/000000/settings--v1.png")
    50% 50% no-repeat;
  background-size: 50%;
}

.icon-contacts span,
.icon-map span,
.icon-compare span,
.icon-setting span {
  display: none;
  font-weight: 500;
}

.icon-contacts:hover,
.icon-map:hover,
.icon-compare:hover,
.icon-setting:hover {
  background: #71d4b0;
}
.icon-contacts:hover > span,
.icon-map:hover > span,
.icon-compare:hover > span,
.icon-setting:hover > span {
  display: inline;
  color: #fff;
}

#side_con {
  width: 400px;
  height: 1200px;
  float: right;
  margin-top: 50px;
}

#side_con > ul > li {
  width: 400px;
  height: 100vh;
  position: absolute;
  background-color: #efefef;
  /* overflow: auto; */
}

#side_con > ul > li:nth-child(1) {
  margin-left: 400px;
}
#side_con > ul > li:nth-child(2) {
  margin-left: 400px;
}
#side_con > ul > li:nth-child(3) {
  margin-left: 400px;
}
#side_con > ul > li:nth-child(4) {
  margin-left: 400px;
}
#side_con {
  display: none;
  background: #f5f4f4;
}

#map {
  top: 50px;
  height: calc(100% - 50px);
}
/* map */

/* map_con */

#map_box {
  text-align: center;
}

.side_wrap {
  width: 300px;
  height: calc(100% - 200px);
  margin: 0 auto;
  overflow: auto;
  /* scrollbar-width: none; /* Firefox */
  /*-ms-overflow-style: none;  /* IE 10+ */
}
.side_wrap::-webkit-scrollbar {
  display: none; /*width:0px;*/
}
.side_wrapt::-webkit-scrollbar {
  display: none;
} /* ??? */

.title {
  margin-top: 30px;
  text-align: center;
}

#account_list {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  background-color: #ddd;
  margin-top: 30px;
  line-height: 30px;
  border-radius: 100px;
  cursor: pointer;
}

/* added on 12.18.2021 */

.listing {
  width: 300px;
  display: none;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ddd;
}

.listing li {
  width: 100%;
  height: 30px;
  z-index: 9999;
  color: #2d2d2d;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

#list_group {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  display: none;
}

#account_list:hover,
.listing li:hover {
  background-color: #35bc8b;
  color: #fff;
}

#list_group:checked ~ .listing {
  display: block;
}

#first_box {
  position: relative;
  height: 20px;
}

.subtitle {
  float: left;
}

.staytime {
  float: right;
  margin-top: -5px;
}
.timenum {
  width: 30px;
  height: 20px;
  border-radius: 6px 0 0 6px;
  background-color: #ddd;
  font-size: 12px;
  font-weight: 300;
  border: none;
  outline: 0;
  text-align: right;
  padding: 0 4px 0 4px;
}
.timesel {
  width: 30px;
  height: 20px;
  border-radius: 0 6px 6px 0;
  font-size: 12px;
  font-weight: 300;
  border: none;
  color: #2d2d2d;
  outline: 0;
  margin-left: -5px;
  padding: 0 2px 0 2px;
  /*화살표 배경 넣기*/
  background: url("../icon/arrow.png") no-repeat 75% 50% #ddd; /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}

.staytime2 {
  float: right;
  margin-top: 5px;
}
.timenum2 {
  width: 30px;
  height: 20px;
  border-radius: 6px 0 0 6px;
  background-color: #ddd;
  border: none;
  font-size: 12px;
  font-weight: 300;
  outline: 0;
  padding: 0 4px 0 4px;
  text-align: right;
}

.timesel2 {
  width: 30px;
  height: 20px;
  background-color: #ddd;
  border-radius: 0 6px 6px 0;
  border: none;
  color: #2d2d2d;
  font-size: 12px;
  font-weight: 300;
  outline: 0;
  padding: 0 2px 0 2px;
  /*화살표 배경 넣기*/
  background: url("../icon/arrow.png") no-repeat 75% 50% #ddd; /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}

.staytime2:hover > .remove_staytime2 {
  display: inline;
}

.eta {
  float: right;
  width: 150px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-top: 5px;
  color: #06a66c;
}

.order_num {
  position: relative;
  width: 50px;
  height: 10px;
  left: 5px;
  top: 10px;
  font-size: 20px;
}

/* Chrome, Safari, Edge, Opera - */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* end of the 12.18 addition*/

#start,
#place,
#finish {
  margin-top: 30px;
  text-align: left;
}

.select_container {
  margin-top: 5px;
}

.select_container > select {
  width: 100px;
  margin-right: 3px;
  padding: 0 8px 0 8px;
  background-color: #ddd;
  color: #2d2d2d;
  height: 20px;
  font-size: 12px;
  font-weight: 3s00;
  border-radius: 6px;
  border: none;
  outline: 0;
  /*화살표 배경 넣기*/
  background: url("../icon/arrow.png") no-repeat 90% 50% #ddd; /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}

.select_container span {
  display: none;
}

.select_container span select {
  width: 50px;
  margin-right: 3px;
  padding: 0 8px 0 8px;
  background-color: #ddd;
  color: #2d2d2d;
  height: 20px;
  font-size: 12px;
  font-weight: 3s00;
  border-radius: 6px;
  outline: 0;
  border: none;
  /*화살표 배경 넣기*/
  background: url("../icon/arrow.png") no-repeat 90% 50% #ddd; /*화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  75% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.place1 {
  width: 90%;
  margin-top: 20px;
}

.place2 {
  width: 80%;
  margin-top: 20px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iQ2FwYV8xIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTUuNTU1IDUxNS41NTUiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTE1LjU1NSA1MTUuNTU1IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im00OTYuNjc5IDIxMi4yMDhjMjUuMTY3IDI1LjE2NyAyNS4xNjcgNjUuOTcxIDAgOTEuMTM4cy02NS45NzEgMjUuMTY3LTkxLjEzOCAwLTI1LjE2Ny02NS45NzEgMC05MS4xMzggNjUuOTcxLTI1LjE2NyA5MS4xMzggMCIvPjxwYXRoIGQ9Im0zMDMuMzQ3IDIxMi4yMDhjMjUuMTY3IDI1LjE2NyAyNS4xNjcgNjUuOTcxIDAgOTEuMTM4cy02NS45NzEgMjUuMTY3LTkxLjEzOCAwLTI1LjE2Ny02NS45NzEgMC05MS4xMzggNjUuOTcxLTI1LjE2NyA5MS4xMzggMCIvPjxwYXRoIGQ9Im0xMTAuMDE0IDIxMi4yMDhjMjUuMTY3IDI1LjE2NyAyNS4xNjcgNjUuOTcxIDAgOTEuMTM4cy02NS45NzEgMjUuMTY3LTkxLjEzOCAwLTI1LjE2Ny02NS45NzEgMC05MS4xMzggNjUuOTcxLTI1LjE2NyA5MS4xMzggMCIvPjwvc3ZnPg==);
}

#add {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  line-height: 30px;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

.more {
  width: 20px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 20px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  cursor: pointer;
  background-color: #ddd;
  position: absolute;
  margin-top: 23px;
  /*left:270px;*/
  right: 3px;
}
.m_menu {
  width: 100px;
  background-color: #2d2d2d;
  position: absolute;
  right: 0;
  /*bottom: -10px;*/
  top: 40px;
  /*display: inline-block;*/
  opacity: 1;
  display: none;
}
.m_menu span {
  display: block;
  text-align: center;
  height: 20px;
  width: 100%;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.box_place {
  position: relative;
  height: 130px;
}
#add:hover {
  background-color: #2d2d2d;
  color: #fff;
}

.more:hover {
  background-color: #2d2d2d;
  color: #fff;
}

.m_menu span:hover {
  background-color: #35bc8b;
}

#info {
  width: 400px;
  height: 50px;
  position: fixed;
  background-color: #f5f4f4;
  bottom: 50px;
  /* margin-left: -50px; */
  display: flex;
  border-top: 2px solid #71d4b0;
}

.subtitle2 {
  text-align: left;
  font-size: 12px;
  width: 179px;
  padding-left: 20px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#imp_f {
  width: 199px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  cursor: pointer;
  border-left: 2px solid #71d4b0;
}
#imp_f h5 {
  font-size: 14px;
}

#imp_menu {
  width: 201px;
  height: 100px;
  background-color: #fff;
  position: fixed;
  text-align: center;
  right: 70px;
  bottom: 100px;
  display: none;
}

#imp_f:hover {
  background-color: #35bc8b;
  color: #fff;
}

#imp_menu div {
  width: 201px;
  margin: 0 auto;
  height: 50px;
  color: black;
  border-bottom: solid 1px #ddd;
  font-size: 12px;
}

#imp_menu div:hover {
  background-color: #ddd;
}

#imp_menu div:nth-child(2) {
  border-bottom: none;
}

#info span {
  width: 1px;
  height: 50px;
  display: block;
  background-color: #575757;
}

#under_bar {
  width: 400px;
  height: 50px;
  background-color: #71d4b0;
  position: fixed;
  display: flex;
  /* margin-left: -50px; */
  /* justify-content: space-evenly; */
  bottom: 0;
}

#under_bar div {
  width: 100px;
  height: 50px;
}

#under_bar img {
  width: 20px;
  margin-top: 15px;
}

.menu_close {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.menu_close span {
  font-size: 20px;
}

input {
  padding-left: 10px;
}

/* map_con */

/* test */

#aside_wrap {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

#under_test {
  width: 100%;
  height: 50px;
  background-color: #5b5b5b;
  position: fixed;
  bottom: 0;
  display: flex;
}

#under_test div {
  width: 200px;
  text-align: center;
  border-left: 1px solid #fff;
  line-height: 50px;
}

#under_test div:nth-child(1) {
  border-left: none;
}
#under_test div span {
  width: 200px;
  height: 50px;
  font-size: 30px;
  display: block;
  color: #fff;
}

#under_test div img {
  width: 25px;
}

.modal_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: none;
  z-index: 99999;
}
.close {
  width: 100%;
  height: 100vh;
}
#modal {
  width: 400px;
  height: 400px;
  border: 1px dashed #fff;
  font-size: 30px;
  text-align: center;
  left: 50%;
  margin-left: -200px;
  top: 20%;
  color: #ddd;
  position: absolute;
}

#modal span {
  line-height: 400px;
}

/* id_management */
#account_list2 {
  width: 100%;
  height: 1200px;
  /* background-color: #fff; */
  margin-top: 50px;
  text-align: center;
}

#account_list2 input[type="text"] {
  background-color: #ddd;
  color: #000;
  width: 70%;
  height: 20px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 6px;
  border: 0;
  outline: 0;
}

#add_new_subacc_btn {
  outline: 0;
  border: solid 0.5px #2d2d2d;
  border-radius: 5px;
}
#add_new_subacc_btn:hover {
  background-color: #06a66c;
  color: #fff;
  border: none;
}

#id_list {
  margin-top: 30px;
  height: 600px;
}
#id_list span {
  display: block;
  background-color: #fff;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  margin-top: 15px;
}

#new_subacc_input {
  margin-top: 30px;
} /* was #input */

.number,
.memo {
  margin-top: 5px;
}

input[type="search"] {
  background-color: #ddd;
  color: #000;
  width: 100%;
  height: 20px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 6px;
  border: 0;
  outline: 0;
}

input[type="tel"] {
  background-color: #ddd;
  color: #000;
  width: 45%;
  height: 20px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 6px;
  border: 0;
  outline: 0;
}

.box_place input[type="text"] {
  background-color: #ddd;
  color: #000;
  width: 45%;
  height: 20px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 6px;
  border: 0;
  outline: 0;
}

#id_list2 {
  margin-top: 30px;
  height: 600px;
}
#id_list2 span {
  display: block;
  background-color: #fff;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  margin-top: 15px;
}

#id_list2 span:hover {
  background-color: #ddd;
}

/* test */

/* #file{margin-top:20px;
    background-color: #575757;
    padding-left: 80px;} */
/* #id_list{background-color: #2d2d2d;} */

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  margin-top: 20px;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: 15px;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  margin-top: 20px;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 15px;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 20px;
}

/* common */
.pointer {
  cursor: pointer;
}
.hidden {
  display: none;
}

input {
  /*ios대응*/
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select {
  /*ios대응*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

/* .select_time {
  width: 100px;
  height: 20px;
  background-color: #ddd;
  border-radius: 0 6px 6px 0;
  border: none;
  color: #2d2d2d;
  font-size: 12px;
  font-weight: 300;
  outline: 0;
}

.select_hour {
  width: 50px;
} */
